.page {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 1008px;
  min-height: 100vh;

  padding: 24px;
  margin: 0 auto;
}

.page__content {
  flex-grow: 1;
}

